@use "../../../styles/fontContants.scss" as font;

.news-box {
  .short-article-div {
    font-family: font.$font-family;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.325rem;
    color: #171a1f;
  }
}
